.selector-full{
    background-color: brown;
    color: brown;
}

.tabla{
    font-size: 13px;
    width: 100%;
    padding: 0;
}

div.dataTables_wrapper {
    margin: 0 auto;
}

table form{
    margin: 0;
}

.card-data-noconforme{
    text-align: center;
    color: white;
    background-color: #d63939;
    margin-left: 10px;
    padding: 10px;
}

.card-data-noconforme span{
    font-size: 20px;
    text-align: center;
}

.card-data-conforme{
    text-align: center;
    color: white;
    background-color: #0054a6;
    margin-left: 10px;
    padding: 10px;
}

.card-data-conforme span{
    font-size: 20px;
    text-align: center;
}

.card-data-faltantes{
    text-align: center;
    color: white;
    background-color: #f59f00;
    margin-left: 10px;
    padding: 10px;
}

.card-data-faltantes span{
    font-size: 20px;
    text-align: center;
}
.card-data-completadas{
    text-align: center;
    color: white;
    background-color: #2fb344;
    margin-left: 10px;
    padding: 10px;
}

.card-data-completadas span{
    font-size: 20px;
    text-align: center;
}
.card-data-asignaciones{
    text-align: center;
    color: white;
    background-color: #6c757d;
    /* margin-left: 10px; */
    padding: 10px;
}

.card-data-asignaciones span{
    font-size: 20px;
    text-align: center;
}

/*  MENU */
#sidebar-menu ul li:hover{
    background-color: #eff1f4;
}

#sidebar-menu ul li div a{
    text-wrap: wrap;
}
#sidebar-menu ul li div a:hover{
    background-color: #b0cdfa;
}

/* SUMADOR SUBTOTALES */
.sumador-subtotal-ejecutivos, 
.sumador-subtotal-medios, 
.sumador-subtotal-profesional,
.sumador-subtotal-tecnico,
.sumador-subtotal-administrativo,
.sumador-subtotal-auxiliar{
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}
.sumador-subtotal-ejecutivos,
.sumador-subtotal-medios, 
.sumador-subtotal-profesional,
.sumador-subtotal-tecnico,
.sumador-subtotal-administrativo,
.sumador-subtotal-auxiliar strong{
    padding-left: 20px;
}
.sumador-subtotal-ejecutivos,
.sumador-subtotal-medios, 
.sumador-subtotal-profesional,
.sumador-subtotal-tecnico,
.sumador-subtotal-administrativo,
.sumador-subtotal-auxiliar span{
    text-align: left;
    padding-right: 70px;
    font-weight: bold;
}

@media print {
    .apexcharts-legend-marker:before {
      content: "\25A0";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      line-height: 12px;
      font-size: 15px;
    }
  }